@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-padding: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--reactify-divider) / .1);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--reactify-divider) / .2);
}

body {
  background: hsl(var(--reactify-background));
  color: hsl(var(--reactify-color));
  overflow-x: hidden;
}

.body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100vw; height: 100vh;
  gap: 1em;
}

.wrapper {
  margin: 0 auto;
  width: 1260px;
}

.header {
    position: sticky;
    top: 0;

    background: hsl(var(--reactify-background) / .8);
    border-bottom: 1px solid hsl(var(--reactify-divider) / .1);
    backdrop-filter: blur(4px);

    padding: 1em;
  }
  .header .wrapper {
    display: grid;
    grid-template-columns: 180px 1fr 180px;
    align-items: center;
    gap: 1em;
  }
  .header .wrapper .nav {
    width: 100%;
    text-align: center;
  }
  .header .wrapper .nav li {
    display: inline-block;
    margin: 0 .5em;
  }
  .header .wrapper .nav li a {
    color: hsl(var(--reactify-link));
    padding: .5em 1em;
    transition: .2s;
  }
  .header .wrapper .nav li a:hover {
    color: hsl(var(--reactify-link-hover));
  }
  .header .wrapper .nav li a.active {
    color: hsl(var(--reactify-base));
  }

.main {
  display: grid;
  grid-template-columns: 220px 1fr;
  width: 100vw; height: 100%;
  max-height: 100%;
  gap: 1em;
}

.navigation {
    
  }
  .navigation.nav-shadow:after {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, hsl(var(--reactify-background)) 0%, hsl(var(--reactify-background) / 0) 100%);
    pointer-events: none;
    width: 100%;
    height: 40px;
    z-index: 1;
    bottom: 0px;
  }
  .navigation .scroll {
    max-height: 1fr;
    overflow-y: auto;
  }
  .navigation .title {
    position: sticky;
    top: 0;
    background: black;
    background: linear-gradient(180deg, hsl(var(--reactify-background)) 0%, hsl(var(--reactify-background) / 0) 100%);
    width: 100%;
    z-index: 1;
    font-weight: 500;
    text-shadow: 0 0 20px hsl(var(--reactify-background));
  }
  .navigation .subtitle {
    color: hsl(var(--reactify-color));
    font-weight: 500;
    margin: 1em 0 0;
  }
  .navigation .items {
  }
  .navigation .items li {
      position: relative;
      list-style: none;
      transition: .2s;
    }
    .navigation .items li a {
      transition: .2s;

      display: block;
      border-radius: 10px;
      padding: .5em 0;
      color: hsl(var(--reactify-link));
    }
    .navigation .items li a:hover {
      color: hsl(var(--reactify-hover));
    }
    .navigation .items li a.active {
      color: hsl(var(--reactify-base));
    }

    .content {
      white-space: pre-line;
    }

.footer {
  background: var(--reactify-footer)
}

/*utils*/
h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Inter';
}
.flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.text-semibold {
  font-weight: 500;
}