.code,
.language-js,
.language-jsx {
  font-family: var(--font-geist-mono);
  padding: 1em;
  display: block;
  background-color: var(--content1);
  border: 1px solid var(--divider);
  margin: 1em 0;
  border-radius: 6px;
}
