* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--myapp-divider) / .05);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--myapp-divider) / .1);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: hsl(var(--myapp-foreground));
  background: hsl(var(--myapp-background));
  overflow-x: hidden;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  gap: 1em;
}

.header .wrapper:is(.header *),
.footer .wrapper:is(.footer *) {
  margin: 0 auto;
  max-width: 1400px;
  min-width: 300px;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  min-width: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  gap: 1em;
}

.header {
  top: 0;
  position: sticky;
  background: hsl(var(--myapp-background) / 0.15);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid hsl(var(--myapp-divider) / 0.15);
  padding: 1em;
  z-index: 1;
}

.menu {
    position: relative;
  }
  .menu .shadow-top {
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100px; width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.15870098039215685) 100%);
    z-index: 1;
  }
  .menu .shadow-bottom {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    height: 100px; width: 100%;
    background: linear-gradient(0, rgba(0,0,0,1) 10%, rgba(0,0,0,0.15870098039215685) 100%);
    z-index: 1;
  }
  .menu .scroll {
    height: calc(100vh - 90px);
    overflow-y: scroll;
  }

  .menu .scroll .item {
      position: relative;
      display: block;
    }
    .menu .scroll .item .title {
      font-weight: 500;
      color: #f0f0f0;
    }
    .menu .scroll .item .links {
        margin: 5px 0 5px 5px;
      }
      .menu .scroll .item .links li {
          list-style: none;
        }
        .menu .scroll .item .links li a {
          text-indent: 5px;
          transition: .2s;
          border-left: 1px solid hsl(var(--myapp-divider) / 0.15);
          padding: .25em .75em;
          display: block;
          @apply text-neutral-500;
        }
        .menu .scroll .item .links li:hover a {
          border-color: hsl(var(--myapp-white) / 100%);
          @apply text-neutral-300;
        }
        .menu .scroll .item .links li a.active {
          font-weight: 500;
          @apply text-neutral-300;
        }

.sidebar {
  position: sticky;
  background: hsl(var(--myapp-divider) / 0.15);
  align-self: flex-start;
  padding: 1em;
}

.content {

}